body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    color: gray   
}

#cont {
    width: 90%;
    padding: 1em;
    text-align: center;
    text-align: justify;
    border: 2px solid salmon;
    background-color: azure; 
    align-items: center;    
    margin: 0 auto;
}

#post{
    font-size: 25px;
}